#page-body p:nth-child(1) {
  color: #ff4500;
}

#page-body h1 {
  color: #ff0000;
}

#page-body p:nth-child(4) {
  font-size: 1.2em;
}

#page-body h2:last-child {
  color: #ff0000;
}







































