#page-body h1 {
  font-family: 'Quando', serif
}

#page-body p {
  font-size: 1.2em;
}

#page-body h2 {
  font-family: 'Quando', serif
}

#page-body p:nth-child(10) span {
  color: #00ff00;
}

#coach-switch-message {
  border: 1px solid #ff4500;
  padding: 15px;
}

#coach-switch-message p:nth-child(2) span {
  font-size: 1.1em;
  color: #ff0000;
}

#coach-switch-message p:last-child {
  font-style: italic;
}





