@import url(http://fonts.googleapis.com/css?family=Abel|Quando);

@font-face {
  font-family: 'fontawesome';
  src:url('../fonts/fontawesome.eot');
  src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
      url('../fonts/fontawesome.svg#fontawesome') format('svg'),
      url('../fonts/fontawesome.woff') format('woff'),
      url('../fonts/fontawesome.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  color: #fff;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
  background: url(../images/background/main-backround.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  height: 100%;
  margin: 0;
}

.content {
  background: #000;
  margin: 1%;
}

.page-header .fitness-logo img {
  width: 100%;
  padding-top: 15px;
}

.page-header .fitness-logo p {
  text-align: center;
  margin-top: -10px;
  font-size: 1em;
}

.nav-bar {
  height: 45px;
  background: #fff;
  padding: ;
}

#page-body {
  padding: 15px
}

#page-body a {
  color: #ffaa00;
}

#page-body a:visited {
  color: #ffaa00;
}

#page-body a:hover {
  color: #ff4500;
}






