/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: 'fontawesome';
  src:url('../fonts/fontawesome.eot');
  src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
      url('../fonts/fontawesome.svg#fontawesome') format('svg'),
      url('../fonts/fontawesome.woff') format('woff'),
      url('../fonts/fontawesome.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  overflow: hidden;
}

#container {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 18px;
}

#container img.bg {
  min-height: 100%;
  min-width: 1024px;
  
  width: 100%;
  height: auto;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1
}

#content-box {
  width: 60%;
  height: 700px;
  margin: 0 auto;
  position: relative;
  top: 20%;
  transform: translateY(20%);
  background: #111;
}

.top-main-nav {
  position: relative;
  font-size: 18px;
  color: #000;
  margin-top: 0;
  z-index: 1;
  display: none;
}

.top-main-nav li {
  list-style: none;
  margin-top: 1em;
}

.top-main-nav li a {
  padding: 6px;
  color: #000;
  background: yellow;
  text-decoration: none;
  border-radius: 5px;
}

.top-main-nav li a:visited {
  text-decoration: none;
  color: #000;
}

.top-main-nav li a:hover {
  text-decoration: none;
  color: red;
}

.company-logo {
  float: right;
}

