#page-body h1 {
  font-family: 'Quando', serif;
  color: #ff0000;
}

#page-body p {
  font-size: 1.2em;
}

#page-body h2 {
  font-family: 'Quando', serif;
  color: #ff4500;
}

#page-body h2 span {
  font-size: 1.2em;
}













